.custom-project-templates
  - if @custom_project_templates.present?
    - @custom_project_templates.each do |template|
      .template-option.d-flex.gl-align-items-center{ data: { testid: 'template-option-container' } }
        = render Pajamas::AvatarComponent.new(template, alt: template.name, class: 'btn-template-icon gl-flex-shrink-0 gl-mr-5', size: 48, avatar_options: { lazy: false })
        .description
          %strong
            = template.title
          %br
          .text-muted
            = template.description
        .controls.d-flex.align-items-baseline
          = render Pajamas::ButtonComponent.new(href: project_path(template), target: '_blank', button_options: { class: 'gl-mr-3', rel: 'noopener noreferrer' }) do
            = _('Preview')
          %label.btn.gl-button.btn-confirm.custom-template-button.choose-template.gl-mb-0{ for: template.name }
            %input{ type: "radio", autocomplete: "off", name: "project[template_project_id]", id: template.name, value: template.id, data: { template_name: template.name } }
            %span{ data: { testid: 'use-template-button' } }
              = _('Use template')
    = paginate @custom_project_templates, params: { controller: 'users', action: 'available_project_templates', username: current_user.username }, theme: 'gitlab', remote: true
  - else
    = render Pajamas::AlertComponent.new(variant: :warning,
      dismissible: false,
      show_icon: false,
      alert_options: { class: 'gl-mt-5' }) do |c|
      - c.with_body do
        %p
          = _("There are no custom project templates set up for this GitLab instance. They are enabled from GitLab's Admin Area. Contact your GitLab instance administrator to setup custom project templates.")
      - c.with_actions do
        = render Pajamas::ButtonComponent.new(href: help_page_path("administration/custom_project_templates")) do
          = _("Learn more about custom project templates")
